**/.vs/*.suo
*.suo
**/.vs/
StudentActivityManagament/.vs/StudentActivityManagament/v15/Server/sqlite3/db.lock
StudentActivityManagament/.vs/StudentActivityManagament/v15/Server/sqlite3/storage.ide-shm
StudentActivityManagament/.vs/StudentActivityManagament/v15/Server/sqlite3/storage.ide-wal
StudentActivityManagament/.vs/StudentActivityManagament/v15/.suo
StudentActivityManagament/.vs/StudentActivityManagament/v15/.suo
StudentActivityManagament/.vs/StudentActivityManagament/v15/.suo
StudentActivityManagament/.vs/StudentActivityManagament/v15/.suo
StudentActivityManagament/.vs/**
StudentActivityManagament/StudentActivityManagament/bin/*.*
StudentActivityManagament/**/bin/
StudentActivityManagament/**/obj/
*.ide
*.suo