**/.vs/*.suo
*.suo
**/.vs/
StudentActivityManagement/.vs/StudentActivityManagement/v15/Server/sqlite3/db.lock
StudentActivityManagement/.vs/StudentActivityManagement/v15/Server/sqlite3/storage.ide-shm
StudentActivityManagement/.vs/StudentActivityManagement/v15/Server/sqlite3/storage.ide-wal
StudentActivityManagement/.vs/StudentActivityManagement/v15/.suo
StudentActivityManagement/.vs/**
StudentActivityManagement/StudentActivityManagement/bin/*.*
StudentActivityManagement/**/bin/
StudentActivityManagement/**/obj/
*.ide
*.suo