@model StudentActivityMenagement.Models.ActivityViewModel.StudentActivityViewModel
@{
    ViewData["Title"] = "Activity";
}
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"> Schedule</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Attendance</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Schedules.ToList().Capacity; i++)
                {
                    <tr>
                        <th scope="row">@Model.Schedules.ElementAt(i).Occurence</th>
                        <th scope="row">@Model.ActivityInfos.ElementAt(i).Grade</th>
                        <th scope="row">@Model.ActivityInfos.ElementAt(i).Attendance</th>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}